@import "tailwindcss";

@theme {
  --font-Audiowide: "Audiowide", "sans-serif";
  --font-Poppins: "Poppins", "sans-serif";
  --font-Fira-Code: "Fira Code", "sans-serif";
  --font-Plaster: "Plaster", "sans-serif";
  --animate-cursor: cursor 2s ease-in-out infinite;
  --animate-marquee: marquee 25s linear infinite;
}

@keyframes cursor{
  0%,
  100% {
    transform: translateY(80%);
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
}
  50% {
    transform:translateY(0);
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
}

}

@keyframes marquee{
  0%{
    transition: translateX(0%);
    -webkit-transition: translateX(0%);
    -moz-transition: translateX(0%);
    -ms-transition: translateX(0%);
    -o-transition: translateX(0%);
}
  100%{
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
}
#root{
  overflow: hidden;
  max-width: 100%;
  overflow: hidden;
  background-color: #0B0B0B;
}